@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html{
    font-size: 10px;
}


#main{  
    background-image: linear-gradient(white, white);
    width: 101rem;
    margin: 10rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0.15);
    border-radius: 1.5rem;
}
.features_main{
    margin: 2rem;
}
.logo img{
    width: 40rem;
    height: 30rem;
}
.logo_slogan{
    font-weight: 550;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 2.8rem;
}
.features h3{
    font-size: 2.5rem;
}
.features_main .quiz_title{
    font-weight: 600;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: rgb(25, 163, 255);
}
.list_features ul li{
    font-size: 2rem;
    list-style-position: inside;
    list-style-type: circle;
    align-items: center;
}
#start_quiz{
    width: 35rem;
    align-items: center;
    font-size: 2rem;
}


@media screen and (max-width: 980px){
    #main{
        margin-top: 7rem;
    }
}
@media screen and (max-width: 578px){
    html{
        font-size: 50%;
    }
    #main{
        width: auto;
        flex-direction: column;
        margin: 4rem;
    }
}

@media screen and (min-width: 1200px){
    #main{
        padding: 2rem;
    }
    #start_quiz{
        margin: 1rem;
    }
    .quiz_title{
        width: 43rem;
    }
}

@media screen and (max-width: 410px){
    html{
        font-size: 40%;
    }
    #main{
        margin: 3.2rem;
    }
}

@media screen and (max-width: 308px){
    html{
        font-size: 32%;
    }
    #main{
        margin: 2rem;
    }
}


.navbar{
    width: 100%;
}

.container-fluid img{
    width: 170px;
}

.navbar .nav-link{
    font-size: 18px;
    color: black !important;
    font-weight: 500;
    margin: 0px 5px;
}

.nav-item .dropdown a{
    font-size: 18px;
}

.nav-item .dropdown:hover{
    background-color: #6c63ff;
    transition: all 0.4s;
    border-radius: 5px;
}

.nav-item .dropdown:hover > .dropdown-menu{
    display: block;
    border-radius: 5px;
}

.nav-item .dropdown .btn{
    font-weight: 500;
    background: rgb(255 255 255 / 0%);
    color: black;
    border: none; 
    box-shadow: none;
    padding: 8px 12px;
}

.nav-item .register-btn{
    font-weight: 500;
    background-color: #6c63ff;
    border-color: #6c63ff;
    padding: 8px 26px !important;
}

.nav-item .login-btn{
    font-weight: 500;
    background-color: #6c63ff;
    border-color: #6c63ff;
    padding: 8px 26px !important;
}

@media only screen and (max-width: 1090px) {
    .navbar{
        background: #f8f9fa !important;
        position: fixed;
        width: 100%;
    }
    .navbar .nav-link{
        color: black !important;
        padding: 8px;
    }
    .nav-item .dropdown a{
        color: black !important;
    }
    .nav-item .register-btn{
        margin: 10px;
    }
    .nav-item .login-btn{
        margin: 10px;
    }
}