@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    width: 100%;
}

.container-fluid img{
    width: 170px;
}

.navbar .nav-link{
    font-size: 18px;
    color: black !important;
    font-weight: 500;
    margin: 0px 5px;
}

.nav-item .dropdown a{
    font-size: 18px;
}

.nav-item .dropdown:hover{
    background-color: #6c63ff;
    transition: all 0.4s;
    border-radius: 5px;
}

.nav-item .dropdown:hover > .dropdown-menu{
    display: block;
    border-radius: 5px;
}

.nav-item .dropdown .btn{
    font-weight: 500;
    background: rgb(255 255 255 / 0%);
    color: black;
    border: none; 
    box-shadow: none;
    padding: 8px 12px;
}

.nav-item .register-btn{
    font-weight: 500;
    background-color: #6c63ff;
    border-color: #6c63ff;
    padding: 8px 26px !important;
}

.nav-item .login-btn{
    font-weight: 500;
    background-color: #6c63ff;
    border-color: #6c63ff;
    padding: 8px 26px !important;
}

@media only screen and (max-width: 1090px) {
    .navbar{
        background: #f8f9fa !important;
        width: 100%;
    }
    .navbar .nav-link{
        color: black !important;
        padding: 8px;
    }
    .nav-item .dropdown a{
        color: black !important;
    }
    .nav-item .register-btn{
        margin: 10px;
    }
    .nav-item .login-btn{
        margin: 10px;
    }
}

.header {
    text-align: center;
    margin-top: 50px;
    font-size: 38px;
}

.card {
    border: none;
}

.card .card-body{
    text-align: center;
}

.card table {
    width: 100%;
}